### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns

In [ ]:
purchase_data.head()

## Player Count

* Display the total number of players

In [ ]:
playercount = len(purchase_data["SN"].unique())
playercount

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#number of unique items
items = len(purchase_data['Item Name'].unique())

#average purchase price
average_purchase_price = purchase_data['Price'].mean()
avg_price = "${:,.2f}".format(average_purchase_price)

#total number of purchases
total_purchases = purchase_data['Purchase ID'].count()

#total revenue
total_revenue = purchase_data["Price"].sum()
revenue_formatted = "${:,.2f}".format(total_revenue)

In [ ]:
#summary data frame
summary_data = {"Unique Items" : items, 
                "Average Price" : avg_price,
                "Total Purchases" : total_purchases, 
                "Total Revenue" : revenue_formatted}
pd.DataFrame([summary_data])

#pd.DataFrame([summary_data]).dtypes

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
purchase_data.columns

In [ ]:
gender_counts = purchase_data["Gender"].value_counts()
gender_counts

In [ ]:
#Percentage and Count of Male Players
num_male = purchase_data.loc[purchase_data["Gender"] == "Male", :]
num_male_counts = num_male["Gender"].value_counts()
num_male_counts

#percentage
percentmale = (num_male["Gender"].value_counts()) / len(purchase_data["SN"].unique()) *100 
percentmale

In [ ]:
#Percentage and Count of Female Players
num_female = purchase_data.loc[purchase_data["Gender"] == "Female", :]
num_female_counts = num_female["Gender"].value_counts()
num_female_counts

#percentage
percentfemale = (num_female["Gender"].value_counts()) / len(purchase_data["SN"].unique()) *100 
percentfemale

In [ ]:
#Percentage and Count of Other / Non-Disclosed
num_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
num_other_counts = num_other["Gender"].value_counts()
num_other_counts

#percentage
percentother = (num_other["Gender"].value_counts()) / len(purchase_data["SN"].unique()) *100 
percentother


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_data.head()

In [321]:
#The below each broken by gender
gender_stats = purchase_data.groupby("Gender")

male_stats = num_male = purchase_data.loc[purchase_data["Gender"] == "Male", :]
female_stats = num_female = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_stats = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

In [322]:
#Purchase Count
male_count = len(male_stats["Purchase ID"].unique())
female_count = len(female_stats["Purchase ID"].unique())
other_count = len(other_stats["Purchase ID"].unique())

In [323]:
#Average Purchase Price
male_avgprice = male_stats["Price"].mean()
male_avgpriceformat = "${:,.2f}".format(male_avgprice)
female_avgprice = female_stats["Price"].mean()
female_avgpriceformat = "${:,.2f}".format(female_avgprice)
other_avgprice = other_stats["Price"].mean()
other_avgpriceformat = "${:,.2f}".format(other_avgprice)

In [324]:
#Total Purchase Value
male_purchase = male_stats["Price"].sum()
male_purformat= "${:,.2f}".format(male_purchase)
female_purchase = female_stats["Price"].sum()
female_purformat= "${:,.2f}".format(female_purchase)
other_purchase = other_stats["Price"].sum()
other_purformat= "${:,.2f}".format(other_purchase)

In [325]:
#Average Purchase Total per Person by Gender
male_avgpurchase = (male_stats["Price"].sum()) / (len(male_stats["Purchase ID"].unique()))
male_avgpurformat = "${:,.2f}".format(male_avgpurchase)

female_avgpurchase = (female_stats["Price"].sum()) / (len(female_stats["Purchase ID"].unique()))
female_avgpurformat = "${:,.2f}".format(female_avgpurchase)

other_avgpurchase = (other_stats["Price"].sum()) / (len(other_stats["Purchase ID"].unique()))
other_avgpurformat = "${:,.2f}".format(other_avgpurchase)

In [326]:
gender_summary_data = {
    "Male Purchases" : male_count, "Female Purchases" : female_count, "Other Purchases" : other_count,
    "Male Avg Price" : male_avgpriceformat, "Female Avg Price" : female_avgpriceformat, "Other Avg Price" : other_avgpriceformat,
    "Male Total Purchase " : male_purformat, "Female Total Purchase " : female_purformat, "Other Total Purchase " : other_purformat,
    "Male Per Person": male_avgpurformat, "Male Per Person" : male_avgpurformat, "Male Per Person" : male_avgpurformat,

}
pd.DataFrame([gender_summary_data])

,Male Purchases,Female Purchases,Other Purchases,Male Avg Price,Female Avg Price,Other Avg Price,Male Total Purchase,Female Total Purchase,Other Total Purchase,Male Per Person
0,652,113,15,$3.02,$3.20,$3.35,"$1,967.64",$361.94,$50.19,$3.02

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [306]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [329]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups).head()
age_purchase_data = purchase_data
age_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [334]:
#Purchase Count
agepurchasecounts = age_purchase_data["Age Group"].value_counts
agepurchasecounts

<bound method IndexOpsMixin.value_counts of 0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775      NaN
776      NaN
777      NaN
778      NaN
779      NaN
Name: Age Group, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]>

In [ ]:
#Average Purchase Price

In [ ]:
#Total Purchase Value

In [ ]:
#Average Purchase Total per Person by Age Group

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame