### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [158]:
playercount = len(purchase_data["SN"].unique())
playercount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#number of unique items
items = len(purchase_data['Item Name'].unique())

#average purchase price
average_purchase_price = purchase_data['Price'].mean()
avg_price = "${:,.2f}".format(average_purchase_price)

#total number of purchases
total_purchases = purchase_data['Purchase ID'].count()

#total revenue
total_revenue = purchase_data["Price"].sum()
revenue_formatted = "${:,.2f}".format(total_revenue)

In [8]:
#summary data frame
summary_data = {"Unique Items" : items, 
                "Average Price" : avg_price,
                "Total Purchases" : total_purchases, 
                "Total Revenue" : revenue_formatted}
pd.DataFrame([summary_data])

#pd.DataFrame([summary_data]).dtypes

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [10]:
gender_counts = purchase_data["Gender"].value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [164]:
#Percentage and Count of Male Players
num_male = purchase_data.loc[purchase_data["Gender"] == "Male", :]
num_male_counts = num_male["Gender"].value_counts()
num_male_counts

#percentage
percentmale = (num_male["Gender"].value_counts()) / len(purchase_data["SN"].unique()) *100 
percentmale

Male    113.194444
Name: Gender, dtype: float64

In [166]:
#Percentage and Count of Female Players
num_female = purchase_data.loc[purchase_data["Gender"] == "Female", :]
num_female_counts = num_female["Gender"].value_counts()
num_female_counts

#percentage
percentfemale = (num_female["Gender"].value_counts()) / len(purchase_data["SN"].unique()) *100 
percentfemale

Female    19.618056
Name: Gender, dtype: float64

In [69]:
#Percentage and Count of Other / Non-Disclosed
num_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
num_other_counts = num_other["Gender"].value_counts()
num_other_counts

#percentage
percentother = (num_other["Gender"].value_counts()) / len(purchase_data["SN"].unique()) *100 
percentother

Other / Non-Disclosed    2.604167
Name: Gender, dtype: float64

In [72]:
gender_table= pd.DataFrame({
    "Count Male": num_male_counts,
    "Percent Male": percentmale,
    "Count Female": num_female_counts,
    "Percent Female": percentfemale,
    "Count Other": num_other_counts,
    "Percent Other": num_other_counts})
gender_table["Percent Male"] = gender_table["Percent Male"].map("{:.2f}%".format)
gender_table["Percent Female"] = gender_table["Percent Female"].map("{:.2f}%".format)
gender_table["Percent Other"] = gender_table["Percent Other"].map("{:.2f}%".format)
gender_table

,Count Male,Percent Male,Count Female,Percent Female,Count Other,Percent Other
Female,NaN,nan%,113.0,19.62%,NaN,nan%
Male,652.0,113.19%,NaN,nan%,NaN,nan%
Other / Non-Disclosed,NaN,nan%,NaN,nan%,15.0,15.00%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
#The below each broken by gender
gender_stats = purchase_data.groupby("Gender")

male_stats = num_male = purchase_data.loc[purchase_data["Gender"] == "Male", :]
female_stats = num_female = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_stats = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

In [17]:
#Purchase Count
male_count = len(male_stats["Purchase ID"].unique())
female_count = len(female_stats["Purchase ID"].unique())
other_count = len(other_stats["Purchase ID"].unique())

In [18]:
#Average Purchase Price
male_avgprice = male_stats["Price"].mean()
male_avgpriceformat = "${:,.2f}".format(male_avgprice)
female_avgprice = female_stats["Price"].mean()
female_avgpriceformat = "${:,.2f}".format(female_avgprice)
other_avgprice = other_stats["Price"].mean()
other_avgpriceformat = "${:,.2f}".format(other_avgprice)

In [19]:
#Total Purchase Value
male_purchase = male_stats["Price"].sum()
male_purformat= "${:,.2f}".format(male_purchase)
female_purchase = female_stats["Price"].sum()
female_purformat= "${:,.2f}".format(female_purchase)
other_purchase = other_stats["Price"].sum()
other_purformat= "${:,.2f}".format(other_purchase)

In [20]:
#Average Purchase Total per Person by Gender
male_avgpurchase = (male_stats["Price"].sum()) / (len(male_stats["Purchase ID"].unique()))
male_avgpurformat = "${:,.2f}".format(male_avgpurchase)

female_avgpurchase = (female_stats["Price"].sum()) / (len(female_stats["Purchase ID"].unique()))
female_avgpurformat = "${:,.2f}".format(female_avgpurchase)

other_avgpurchase = (other_stats["Price"].sum()) / (len(other_stats["Purchase ID"].unique()))
other_avgpurformat = "${:,.2f}".format(other_avgpurchase)

In [21]:
gender_summary_data = {
    "Male Purchases" : male_count, "Female Purchases" : female_count, "Other Purchases" : other_count,
    "Male Avg Price" : male_avgpriceformat, "Female Avg Price" : female_avgpriceformat, "Other Avg Price" : other_avgpriceformat,
    "Male Total Purchase " : male_purformat, "Female Total Purchase " : female_purformat, "Other Total Purchase " : other_purformat,
    "Male Per Person": male_avgpurformat, "Male Per Person" : male_avgpurformat, "Male Per Person" : male_avgpurformat,

}
pd.DataFrame([gender_summary_data])

,Male Purchases,Female Purchases,Other Purchases,Male Avg Price,Female Avg Price,Other Avg Price,Male Total Purchase,Female Total Purchase,Other Total Purchase,Male Per Person
0,652,113,15,$3.02,$3.20,$3.35,"$1,967.64",$361.94,$50.19,$3.02

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
purchase_data["Age"].max()

45

In [49]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.9, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups)
age_purchase_data = purchase_data
age_purchase_data

age_grouped = purchase_data.groupby("Age Group")

In [56]:
#percentage and count
counted_ages = age_grouped["SN"].count()
counted_ages
percentage_ages = counted_ages / playercount *100
percentage_ages

Age Group
<10       3.993056
10-14     4.861111
15-19    23.611111
20-24    63.368056
25-29    17.534722
30-34    12.673611
35-39     7.118056
40+       2.256944
Name: SN, dtype: float64

In [71]:
#summary table
summary_age_group_df = pd.DataFrame({
    "Count" : counted_ages,
    "Percentage" : percentage_ages}) 
summary_age_group_df["Percentage"] = summary_age_group_df["Percentage"].map("{:.2f}%".format)
summary_age_group_df

           Count Percentage
Age Group
<10           23      3.99%
10-14         28      4.86%
15-19        136     23.61%
20-24        365     63.37%
25-29        101     17.53%
30-34         73     12.67%
35-39         41      7.12%
40+           13      2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#Purchase Count
purchase_counts = age_grouped["Price"].count()
purchase_counts

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [26]:
#Average Purchase Price
agepurchase_price = age_grouped["Price"].mean()
agepurchase_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [27]:
#Total Purchase Value
agepurchase_total = age_grouped["Price"].sum()
agepurchase_total

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [28]:
#Average Purchase Total per Person by Age Group
avgpurchase_price_person = age_grouped["Price"].sum() / age_grouped["Price"].count()
avgpurchase_price_person

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [61]:
#summary table
summary_age_group_purchase_df = pd.DataFrame({
    "Count" : purchase_counts,
    "Avg Price" : agepurchase_price,
    "Total Value" : agepurchase_total,
    "Avg Price per Person" : avgpurchase_price_person}) 

summary_age_group_purchase_df["Avg Price"] = summary_age_group_purchase_df["Avg Price"].map("${:.2f}".format)
summary_age_group_purchase_df["Avg Price per Person"] = summary_age_group_purchase_df["Avg Price per Person"].map("${:.2f}".format)
summary_age_group_purchase_df

           Count Avg Price  Total Value Avg Price per Person
Age Group
<10           23     $3.35        77.13                $3.35
10-14         28     $2.96        82.78                $2.96
15-19        136     $3.04       412.89                $3.04
20-24        365     $3.05      1114.06                $3.05
25-29        101     $2.90       293.00                $2.90
30-34         73     $2.93       214.00                $2.93
35-39         41     $3.60       147.67                $3.60
40+           13     $2.94        38.24                $2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [102]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [107]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    #groupby the players, then do calculations
grouped_spenders = purchase_data.groupby("SN")

In [ ]:
#Purchase Count
grouped_spenders_count = grouped_spenders["Purchase ID"].count()

In [108]:
#Average Purchase Price
grouped_spenders_avgprice = grouped_spenders["Price"].mean()

In [109]:
#Total Purchase Value
grouped_spenders_totalprice = grouped_spenders["Price"].sum()

In [113]:
#create new summary df
top_spender_df = pd.DataFrame({
    "Purchase Count" : grouped_spenders_count,
    "Avg Purchase Price" : grouped_spenders_avgprice,
    "Total Purchase Price": grouped_spenders_totalprice})
top_spender_df.head()

              Purchase Count  Avg Purchase Price  Total Purchase Price
SN
Adairialis76               1                2.28                  2.28
Adastirin33                1                4.48                  4.48
Aeda94                     1                4.91                  4.91
Aela59                     1                4.32                  4.32
Aelaria33                  1                1.79                  1.79

In [145]:
#sort the df and reformat
top_spender_sorted = top_spender_df.sort_values("Total Purchase Price", ascending=False)
top_spender_sorted["Avg Purchase Price"] = top_spender_sorted["Avg Purchase Price"].map("${:.2f}".format)
top_spender_sorted["Total Purchase Price"] = top_spender_sorted["Total Purchase Price"].map("${:.2f}".format)
top_spender_sorted.head(5)

             Purchase Count Avg Purchase Price Total Purchase Price
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.40               $13.62
Iskadarya95               3              $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [130]:
#Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]
items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [135]:
#Group by Item ID and Item Name. 
grouped_items_df = items_df.groupby(["Item ID","Item Name"])

#Perform calculations to obtain purchase count, 
grouped_items_count = grouped_items_df["Price"].count()

#average item price, 
grouped_items_avgprice = grouped_items_df["Price"].mean()

#and total purchase value
grouped_items_totalprice = grouped_items_df["Price"].sum()

In [149]:
#summary table
summary_pop_items = pd.DataFrame({
    "Purchase Count": grouped_items_count,
    "Avg Item Price": grouped_items_avgprice,
    "Total Price" : grouped_items_totalprice})
# sort and reformat
summary_pop_items_sorted = summary_pop_items.sort_values("Purchase Count", ascending=False)
summary_pop_items_sorted["Avg Item Price"]= summary_pop_items_sorted["Avg Item Price"].map("${:.2f}".format)
summary_pop_items_sorted["Total Price"]= summary_pop_items_sorted["Total Price"].map("${:.2f}".format)
summary_pop_items_sorted.head()

,,Purchase Count,Avg Item Price,Total Price
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [150]:
#Sort the above table by total purchase value in descending order
summary_profit_items_sorted = summary_pop_items.sort_values("Total Price", ascending=True)
summary_pop_items_sorted.head()

,,Purchase Count,Avg Item Price,Total Price
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77